.viewport [data-component="feed_view"] {
    display: none;
}

.viewport.show-feed-view [data-component="feed_view"] {
    display: block;
}

[data-component="feed_view"] {
    padding: 0 var(--standard-padding);
}

[data-component="feed_view"] header {
    color: #AAA;
    font-size: 0.85rem;
}

[data-component="feed_view"] .tags {
    margin-top: 5px;
}

@media (min-width: 1000px) {
    .viewport [data-component="feed_view"] {
        display: block;
        width: calc(100vw - var(--sidebar-width) - var(--filters-sidebar-width));
    }
}