.viewport [data-component="feed_view"] {
    display: none;
}

.viewport.show-feed-view [data-component="feed_view"] {
    display: block;
}

[data-component="feed_view"] {
    padding: 0 var(--standard-padding);
}

@media (min-width: 1000px) {
    .viewport [data-component="feed_view"] {
        display: block;
    }
}