[data-pane="about"] {
    padding: var(--standard-padding);
}

[data-pane="about"] a[href] {
    text-decoration: none;
    color: cornflowerblue;
}
[data-pane="about"] aside {
    display: block;
    margin-bottom: 40px;
}

[data-pane="about"] .social {
    display: block;
    margin-bottom: 15px;
}

[data-pane="about"] h2 {
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}

[data-pane="about"] .group {
    display: block;
    margin-bottom: 25px;
}

[data-pane="about"] .group h1 {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

[data-pane="about"] .group p {
    margin-top: 0px;
    margin-left: 20px;
}

@media (min-width: 1000px) {
    [data-pane="about"] {
        --area-width: 1000px;
        --sidebar-width: 300px;
        padding-right: calc(100vw - var(--area-width));
        display: flex;
    }

    [data-pane="about"] article {
        width: calc(var(--area-width) - var(--sidebar-width));
        padding-right: var(--standard-padding);
    }

    [data-pane="about"] aside {
        width: var(--sidebar-width);
        padding-right: var(--standard-padding);
    }
}