[data-pane="map"] iframe {
    width: 100vw;
    height: calc(var(--100vvh, 100vh) - var(--main-nav-height) * 2);
}

@media (min-width: 1000px) {
    [data-pane="map"] iframe {
        height: calc(var(--100vvh, 100vh) - var(--main-nav-height));
    }
}