[data-component="feed_index_item"] {
    --footer-height: 60px;
    --row-height: 220px;
    --article-height: calc(var(--row-height) - var(--footer-height));
    padding: 10px var(--standard-padding);
    border-bottom: 1px solid #CCC;
    height: var(--row-height);
    max-height: var(--row-height);
    display: flex;
    flex-direction: column;
    position: relative;
}

[data-component="feed_index_item"] article {
    overflow: hidden;
    height: var(--article-height);
    max-height: var(--article-height);
}

[data-component="feed_index_item"] footer {
    height: var(--footer-height);
    max-height: var(--footer-height);
    font-size: 0.85rem;
    color: #aaa;
}

[data-component="feed_index_item"] h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-component="feed_index_item"] .tags {
    margin-top: 5px;
}

[data-component="feed_index_item"] .fa-solid.fa-thumbtack {
    --spacing: 15px;
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
    background: white;
    padding: 7px;
    border-radius: 50%;
    color: orange;
}

[data-component="feed_index_item"].pinned {
    background: lightgoldenrodyellow;
}