[data-component="main_nav"] {
    display: flex;
    height: var(--main-nav-height);
    background: black;
    width: 100%;
    border-bottom: 5px solid darkgreen;
    position: relative;
    padding-left: var(--standard-padding);
}

[data-component="main_nav"] a {
    color: white;
    text-decoration: none;
}

[data-component="main_nav"] .label {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}

[data-component="main_nav"] h1 {
    color: white;
    font-size: 1rem;
    line-height: var(--main-nav-height);
    margin: 0;
}

[data-component="main_nav"] button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

[data-component="main_nav"] button.back {
    padding-left: 0;
}

[data-component="main_nav"] button.filters {
    --height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    height: var(--height);
    margin-top: calc(var(--height)/-2);
}

[data-component="main_nav"] ul.filters {
    position: fixed;
    top: var(--main-nav-height);
    left: 0;
    bottom: 0;
    right: var(--standard-padding);
    overflow: auto;
    background: black;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

[data-component="main_nav"] ul.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--main-nav-height);
    overflow: auto;
    background: darkgreen;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    z-index: 3;
}

[data-component="main_nav"] ul.menu li {
    display: inline-block;
}

[data-component="main_nav"] ul.menu li.hide {
    display: none;
}

[data-component="main_nav"] ul.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px var(--standard-padding);
    padding-top: 0;
    padding-bottom: 0;
    height: var(--main-nav-height);
    line-height: var(--main-nav-height);
    text-align: center;
}

[data-component="main_nav"] ul.menu a.active {
    background: white;
    color: darkgreen;
}

[data-component="main_nav"] ul.filters {
    right: 0;
    left: var(--standard-padding);
    padding: var(--standard-padding);
}

[data-component="main_nav"] ul.filters [data-component="tag"] {
    line-height: 1;
    display: inline-block;
    margin-bottom: 5px;
}


/* Toggling */

[data-component="main_nav"] button.back,
[data-component="main_nav"] ul.filters {
    display: none;
}

.viewport.show-filters [data-component="main_nav"] ul.filters {
    display: block;
}

.viewport.show-feed-view [data-component="main_nav"] button.back {
    display: block;
}

@media (min-width: 500px) {
    [data-component="main_nav"] .label {
        font-size: 1rem;
        text-transform: none;
    }
}

@media (min-width: 1000px) {
    .viewport.show-feed-view [data-component="main_nav"] button.back,
    [data-component="main_nav"] button.filters {
        display: none;
    }
    .viewport.show-feed-view [data-component="main_nav"] button.menu,
    .viewport [data-component="main_nav"] button.menu {
        display: block;
        visibility: hidden;
    }
    [data-component="main_nav"] ul.menu {
        background: transparent;
        display: block;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    [data-component="main_nav"] ul.menu a {
        height: var(--main-nav-height);
        padding: 0 15px;
        line-height: var(--main-nav-height);
    }
    [data-component="main_nav"] ul.menu li:first-child a {
        margin-left: var(--standard-padding);
    }
    [data-component="main_nav"] ul.menu li {
        display: inline-block;
    }
    [data-component="main_nav"] ul.menu li.hide {
        display: none;
    }
}