[data-component="main_nav"] {
    display: flex;
    height: var(--main-nav-height);
    background: black;
    width: 100%;
}

[data-component="main_nav"] h1 {
    color: white;
    font-size: 1rem;
    line-height: var(--main-nav-height);
    margin: 0;
}

[data-component="main_nav"] button {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

[data-component="main_nav"] ul.menu {
    position: fixed;
    top: var(--main-nav-height);
    left: 0;
    bottom: 0;
    right: var(--standard-padding);
    overflow: auto;
    background: black;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

[data-component="main_nav"] ul.menu li {
    display: block;
}

[data-component="main_nav"] ul.menu a {
  color: white; 
  text-decoration: none;
  display: block;
  padding: 10px var(--standard-padding);
}

/* Toggling */
[data-component="main_nav"] button.back,
[data-component="main_nav"] ul.menu {
    display: none;
}

.viewport.show-menu [data-component="main_nav"] ul.menu {
  display: block;
}
.viewport.show-menu-back [data-component="main_nav"] ul.menu {
  display: none;
}

.viewport.show-feed-view [data-component="main_nav"] button.back {
    display: block;
}
.viewport.show-feed-view [data-component="main_nav"] button.menu {
    display: none;
}